doctype html
html
  include head
  link(rel='stylesheet', href='css/full.css')

  body
    a.logo(href="/craftml-docs") CraftML
    div
        != typogr(page.html).typogrify()    

    include scripts
