// HEADER
header.header
  .section
    a.logo(href='/') CraftML Docs
    nav.aligned.right
      ul.mainmenu
        li
          a(href='#', target="try") Try      
        li
          a(href='language/') Language  
        li
          a(href='tutorials/', target="tutorials") Tutorials          
        li
          a(href='https://github.com/sikuli/craftml') Github