meta(charset='utf-8')
title CraftML
base(href='/craftml-docs/')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
meta(name='format-detection', content='telephone=no')
link(href='favicon.ico', rel='shortcut icon', type='image/x-icon')
link(rel='stylesheet', href='css/style.css')
// Bonno - Responsive Multipurpose Template - v.1.0
//- script(src="js/lodash.min.js")
script(src="js/react/react.js")
script(src="js/react/JSXTransformer.js")