// HEADER
header.header.section
  .col.span_4_of_12
    a.logo(href='/') CraftML
  nav.col.span_8_of_12.aligned.right
    ul.mainmenu
      li
        a(href='/') Documentation   
      li
        a(href='https://github.com/sikuli/craftml') Github