meta(charset='utf-8')
title CraftML
base(href='/')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
meta(name='format-detection', content='telephone=no')
link(href='favicon.ico', rel='shortcut icon', type='image/x-icon')
link(rel='stylesheet', href='css/style.css')