extends layout

block content
    aside.blogbar.col.span_2_of_12
        h4 Language
        include language/sidebar

    .content.blog.col.span_10_of_12   
        h3= page.metadata.title         
        != page.html
      