doctype html
html
  include head    

  body
    .wrapper
      include header

      
      .section            
        block content
              
      .fpadding.cf

    footer.footer
      .section
        .col.span_6_of_12.auto
          h5
            | Sikuli Lab |  
            a(href='http://www.colorado.edu') University of Colorado at Boulder
          a(href='https://github.com/sikuli/craftml')
            i.icon-github(style='font-size:200%;')
    // /.footer

   include scripts
