script(src='js/jquery-2.1.0.min.js')    
script(src='js/jquery.plugins.js')
script(src='js/lodash.min.js')    
script(src='js/custom.js')
script(src='js/three.min.js')
script(src='js/TrackballControls.js')
script(src='js/STLLoader.js')
script(src='js/stlviewer.js')
script(src='js/ace/ace.js', type='text/javascript', charset='utf-8')
script(src="js/catiline.js")
script(src='react.js', type='text/jsx')
script(src='app.js', type='text/jsx')