h5.aligned.left Getting Started          
ul
  li.aligned.right
    a(href='') Welcome
  li.aligned.right
    a(href='') Tutorial
h5.aligned.left Basic
ul
  li.aligned.right
    a(href='basic/cube.html') Cube
  li.aligned.right
    a(href='basic/sphere.html') Sphere
  li.aligned.right
    a(href='basic/cylinder.html') Cylinder
  li.aligned.right
    a(href='basic/row.html') Row
  li.aligned.right
    a(href='basic/column.html') Column
  li.aligned.right
    a(href='basic/stack.html') Stack
  li.aligned.right
    a(href='basic/scale.html') Scale
  li.aligned.right
    a(href='basic/repeat.html') Repeat

h5.aligned.left Module
ul
  li.aligned.right
    a(href='module/github.html') Github
  li.aligned.right
    a(href='module/stl/index.html') STL

h5.aligned.left Scripting
ul
  li.aligned.right
    a(href='script/craftml.html') CraftML
  li.aligned.right
    a(href='script/openjscad.html') OpenJscad
  li.aligned.right
    a(href='script/d3.html') D3  